$white: #FFFFFF;
$dark-navy: #29398B;
$bright-blue: #19ABE2;
$teal: #64CCEF;
$light-blue: #ECF8FE;
$light-blue-rollover: #44ccff;
$red: #EB2A57;
$purple: #93278C;
$indigo: #3F4AAB;
$sunflower: #F8AE17;
$dark-green: #138D81;
$light-green: #78B442;
$light-green-rollover: #81D536;
$neutral_darkest: #3F474A;
$neutral_dark: #9B9C9B;
$neutral_light:#CACACB;
$neutral_lightest: #EEF0F1;
