section.footer-main {
  background-color: #51585b;
  color: white !important;
  padding: 40px 0;
  font-size: 14px;

  .grid-container {
    padding: 0 30px;
  }

  .cell {
    padding-bottom: 30px;
  }
  h1, h2, h3, h4, h5, h6, p, a {
    font-family: "Montserrat", "helvetica neue", helvetica, arial, sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase; 
  }
  h3{
    font-size: 15px;
  }
  a {
    font-weight: bold;
    color: white;
    border-bottom: 2px solid transparent;
    transition: border-color .15s;

    &:hover {
      border-bottom: 2px solid white;
    }
  }

  p {
    font-size: 14px;
  }

  ul {
    list-style: none;
    display: inline-block;
    margin: auto;

    @include breakpoint(large){
      margin-left: 20%;
    }
  }

  li {
    margin-bottom: 0.75em;
   a {
     display: inline-block;
   }
  }
  .sib-form {

    #sib-container {
      background-color: inherit !important;
      border: none !important;
    }
    .sib-form-inner {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  

      .sib-form-input {
        flex: 1 1 50%;
        margin-right: 10px;
        input {
          border-radius: 32px;
          padding: 8px 20px;

        }
      }
      .sib-form-submit {
        flex: 0 0 120px;
        button {
          font-family: Montserrat,"helvetica neue",helvetica,arial,sans-serif!important;
          font-weight: 700;
          font-size: 16px;
          color: #fff;
          background-color: #19abe2;
          height: 40px;
          border-radius: 32px;
          line-height: 40px;
          padding: 0 20px;
          position: relative;
          display: inline-block;
          text-transform: uppercase;
          border: none;
          transition: background-color .25s ease-out,color .25s ease-out;
          &:hover {
            background-color: #1488b4;
            cursor: pointer;
          }
        }
        .clickable__icon:not(.sib-icon_standalone) {
          position: absolute !important; 
          right: -42px;
          top: 8px;
        }

      }
      .entry__error.entry__error--primary {
        padding: 0 10px !important;
        line-height: 1.2em !important;
        margin-right: -120px !important;
        text-align: center !important;
        line-height: 30px !important;
        @media (max-width: 899px) {
          margin-right: 0 !important;
        }
      }
    }
  }
}
