// $blue: #3F4AAB;
// $green: #178D81;
// $grey: #51585B;
// $teal: #43DFFF;
// $ltblue: #00AEEF;

// Color Palettes
// Primaries
$darkNavy:    #29398B;
$brightBlue:  #19ABE2;
$teal:        #64CCEF;
$lightBlue:   #ECF8FE;
$red:         #EB2A57;
$purple:      #93278C;
$indigo:      #3F4AAB;
$sunflower:   #F8AE17;
$darkGreen:   #138D81;
$lightGreen:  #78B442;

// Neutrals
$darkGrey:    #3F474A;
$medGrey:     #9B9C9B;
$grey:        #CACACB;
$lightGrey:   #EEF0F1;


$top-nav-height: 88px;
$sub-nav-height: 66px;
