.archive {
    article {
        margin-bottom: 30px;
        .updated {
            display: block;
        }
            .entry-title {
            padding-bottom: 0; 
            margin-bottom: 0;
        }
    }
   
}