div.sidebar {
  // min-height: 400px;
  background-position: center;
  background-size: cover;
  position: relative;

  .slider-container {
    min-height: 440px;
  }

  .bar {
    background-color: $darkNavy;
    color: white;
    position: relative;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    transform: translateX(-50%);
    // padding: 30px 30px 30px 0;
    font-size: 14px;
    line-height: 1em;

    @include breakpoint(large){
      font-size: 18px;
    }

    * {
      line-height: 1.2em;
    }

    &.active {
      transform: translateX(0);
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 1000px;
      height: 100%;
      background-color: $darkNavy;
      transform: translateX(-100%);
    }

    .inner {
      height: 300px;
    }

    h2 {
      margin-bottom: 0.5em;
      padding-bottom: 0;
    }

    .p1 {
      font-size: 16px !important;
      line-height: 19px;

      @include breakpoint(large){
        font-size: 24px !important;
        line-height: 26px;
      }
    }
  }
}
